@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;

}

$tile-width : 310px;
$tile-heigth: 80px;
$tile-margin: 30px;
$tile-bg-clr: #2e2c2c;
$tile-font-clr: #ffffff;
$recipe-font-size : 16px;
$recipe-font: 'Poppins', sans-serif;
$recipe-font-weight: bold;

.recipe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 5px;

    font-size: $recipe-font-size;
    font-family: $recipe-font;
    font-weight: $recipe-font-weight;
    color: $tile-font-clr;

    width: $tile-width;
    height: $tile-heigth;
    margin-bottom: $tile-margin;

    background-color: $tile-bg-clr;

    &:hover {
        cursor: pointer;
    }
}

.recipe-info {
    display: flex;
    gap: 25px;

    .coffee {
        display:flex;
        justify-content: center;
    }
}

.brew-type-icon {
    width: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.recipe-list {
    margin-top:  100px;
    height: calc(100vh - 200px);
    overflow: scroll
}

.bi-gear-fill {
    position:absolute;
    top: 40px;
    right: 25px;
    color: $tile-bg-clr;

    &:hover {
        cursor: pointer;
    }
}

.bi-plus-circle-fill {
    font-size: 50px;
    position:absolute;
    bottom: 50px;
    color: $tile-bg-clr;

    &:hover {
        cursor: pointer;
    }
}
