@mixin absolute($top, $right : null, $bottom : null, $left : null, $translateX : 0, $translateY : 0) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($translateX, $translateY);
}

@mixin flex($justify, $align, $direction : row ) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin elipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}