//Font-size
$font-size-petit  : 12px;
$font-size-small  : 16px;
$font-size-medium : 20px;
$font-size-big    : 24px;
$font-size-huge   : 34px;

//Font-weight
$font-weight-normal : 400;
$font-weight-bold   : 700;

// Tile
$tile-width : 310px;
$tile-heigth: 85px;
$tile-bottom-margin: 30px;
$tile-border-radius: 5px;
$tile-padding : (10px 10px);

// Fonts
$font-family-default : "Poppins", "sans-serif";

// Icons
$icon-size-play : 25px;
$icon-size-step : 40px;
$icon-size-sun  : 100px;

//
$form-input-margin : 20px;
