<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block custom editor</title>
    <link rel="stylesheet" href="../../sass/main.css">
</head>
<body>

    <nav>
        <button id="cancel">
            Cancel
        </button>
    </nav>

    <li class="custom-tile step-list__step">

        <div class="step-icon">
            <i class="bi bi-question-lg"></i>
        </div>

        <div class="step-name">
            custom
        </div>

        <div class="step-info">
            <span class="step-info-time">0:00</span>
            <span class="step-info-weight">0g</span>
        </div>

    </li>

    <main>

        <input type="text" class="title-input" placeholder="custom">

        <div class="options-input">
            <p>
                <input type="checkbox" name="doNotCountTime" id="doNotCountTime">
                <label for="doNotCountTime">do not add time to result</label>
            </p>
            <p>
                <input type="checkbox" name="includeWeight" id="includeWeight">
                <label for="includeWeight">include weight</label>
            </p>
        </div>

        <textarea class="description-input" spellcheck="false" placeholder="Add class description"></textarea>


        <div class="icon-input">
            <div class="list">
                <span class="icon icon--selected">
                    <i class="bi bi-question-lg"></i>
                </span>
                <span class="icon">
                    <i class="bi bi-droplet"></i>
                </span>
                <span class="icon">
                    <i class="bi bi-chevron-double-down"></i>
                </span>
                <span class="icon">
                    <i class="bi bi-arrow-clockwise"></i>
                </span>
                <span class="icon ">
                    <i class="bi bi-alarm"></i>
                </span>
                <span class="icon">
                    <i class="bi bi-fire"></i>
                </span>
                <span class="icon">
                    <i class="bi bi-flower3"></i>
                </span>
                <span class="icon">
                    <i class="bi bi-rocket-takeoff"></i>
                </span>

            </div>
        </div>

    </main>

    <div class="bottom">
        <button class="btn-arrow">
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>


</body>
</html>