@use "../variables/" as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


$font-family-default: 'Poppins', sans-serif;


@mixin petit-bold {
    font-size : $font-size-petit;
    font-weight: bold;
    font-family: $font-family-default;
}

@mixin small-bold {
    font-size : $font-size-small;
    font-weight: bold;
    font-family: $font-family-default;
}

@mixin medium-medium {
    font-size : $font-size-medium;
    font-weight: medium;
    font-family: $font-family-default;
}

@mixin medium-bold {
    font-size : $font-size-medium;
    font-weight: bold;
    font-family: $font-family-default;
}

@mixin normal-bold {
    font-size : $font-size-normal;
    font-weight: bold;
    font-family: $font-family-default;
}





