<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe-list</title>
    <link rel="stylesheet" href="../../sass/main.css">
</head>
<body>

    <div class="view">
        <nav>
            <i class="bi bi-gear-fill"></i>
        </nav>

        <main>
            <div class="recipe-list">

                <!-- RecipeView -->
                <div class="recipe">
                    <span class="recipe-title">Juicy AeroPress</span>
                    <div class="recipe-info">
                        <div class="coffee">
                            <span style="background-image: url(./icons/aeropress.svg);" class="brew-type-icon"></span>
                            <span>Brasil Kafar</span>
                        </div>
                        <div class="time">
                            <i class="bi-hourglass-split"></i>
                            <span>1:20</span>
                        </div>
                        <div class="score">
                            <i class="bi-star-fill"></i>
                            <span>7.4</span>
                        </div>
                    </div>
                </div>

                <!-- RecipeView -->
                <div class="recipe">
                    <span class="recipe-title">Juicy AeroPress</span>
                    <div class="recipe-info">
                        <div class="coffee">
                            <span style="background-image: url(./icons/aeropress.svg);" class="brew-type-icon"></span>
                            <span>Brasil Kafar</span>
                        </div>
                        <div class="time">
                            <i class="bi-hourglass-split"></i>
                            <span>1:20</span>
                        </div>
                        <div class="score">
                            <i class="bi-star-fill"></i>
                            <span>7.4</span>
                        </div>
                    </div>
                </div>

                <!-- RecipeView -->
                <div class="recipe">
                    <span class="recipe-title">Juicy AeroPress</span>
                    <div class="recipe-info">
                        <div class="coffee">
                            <span style="background-image: url(./icons/aeropress.svg);" class="brew-type-icon"></span>
                            <span>Brasil Kafar</span>
                        </div>
                        <div class="time">
                            <i class="bi-hourglass-split"></i>
                            <span>1:20</span>
                        </div>
                        <div class="score">
                            <i class="bi-star-fill"></i>
                            <span>7.4</span>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <div class="bottom">
            <button>
                <i class="bi bi-plus-circle-fill"></i>
            </button>
        </div>
    </div>

</body>
</html>