@use "../variables/" as *;
@use "../modules/" as *;
@use "../tools/" as *;
@use "../tools/" as *;
@use "../variables/" as *;
@use "../base/typography" as *;

.picker, .description-input {
    max-width: $tile-width;
    width: 100%;
    margin-bottom: 30px;
}

.picker {
    height: 65px;


    & > * {
        @extend .hover;
    }

    display: flex;

    .add, .sub {
        flex-grow: 1;
        flex-shrink: 1;
        background-color: $picker-second-clr;
        color: $icons-clr;
        font-size: 30px;
    }

    .time, .weight {
        flex-grow: 2;
        flex-shrink: 1;
        @include flex(center, center, row);
        @include normal-bold;
        background-color: $picker-main-clr;
        color: white;
    }


}

.description-input {
    height: 90px;
    padding: 10px;

    @include petit-medium;
    background-color: $picker-main-clr;
    color: white;
    border: none;

    @include placeholder-white;

}
