@use "../variables/" as *;
@use "../modules/" as *;
@use "../base/typography" as *;
@use "../tools/" as *;

.custom-tile {
    background-color: $custom-tile-grey;
}

.title-input,
.icon-input,
.options-input,
.description-input {
    max-width: $tile-width;
    width: 100%;
    background-color: $picker-main-clr;
    border-radius: 5px;
    padding: 15px;

    margin-bottom: 20px;

    color: white;
    @include medium-bold;
}

.options-input {
    height: 75px;
    @include petit-bold;
    @include flex(space-between, null, column);
}

.title-input {
    height: 60px;
    border: none;
    text-align: center;
}

.description-input {
    @include petit-medium;
}


.icon-input {
    height: 80px;

    .icon {
        font-size : 35px;

        &--selected {
            color: $gold;
        }

        &:hover {
            color: $blue;
            cursor: pointer;
        }
    }


    .list {
        @include flex(null, center, row);
        gap: 15px;

        height: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}