@use "../modules/" as *;
@use "../tools/" as *;
@use "../base/typography" as *;
@use "../variables/" as *;

.class-list__element,
.class-list-custom {
    @extend .hover;
    @include tile;
    @include normal-bold;
    @include flex(center, center);
    margin-bottom: $tile-bottom-margin;
}

.class-list__element {
    position: relative;


    .class-icon {
        position: absolute;
        left: 20px;

        .bi {
            font-size: 40px;
        }
    }
}

.class-list-custom {
    background-color: $custom-tile-grey;
    color: white;
}