@use "../modules/" as *;
@use "../variables/" as *;
@use "../base/" as *;
@use "../tools/" as *;

.brewing-method {
    @include tile;
    @extend .hover;
    @include normal-bold;
    @include flex(center, center);
    margin-bottom: $tile-bottom-margin;
}

.view-info {
    @include normal-bold;
    margin-bottom: 35px;
    width: 100%;
    text-align: center;
    color: $blue;
}


