@use "../modules/" as *;
@use "../base/typography" as *;
@use "../variables/" as *;
@use "../base/" as *;

.flex-equal {
    height: 100%;
    margin-top: 100px;

    & > * {
        margin-bottom: 30px;
    }
}

.icon-header {
    display: flex;
    justify-content: center;

    .bi {
        font-size: 100px;
    }
}

.input {

    label {
        display:block;
        width: 100%;

        color: $blue;
        @include normal-bold;
        text-align: center;

        margin-bottom: 15px;
    }

    input {
        all: unset;
        width: 100%;
        @include tile;
        @include medium-medium;
        text-align: center;
        height: $tile-heigth;
    }

}

