@use "../tools/" as *;
@use "../modules/" as *;
@use "../base/typography" as *;
@use "../variables/" as *;

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
    @include flex(null, center, column);
    margin: 0;
    padding: 0;
}

.recipe {
    @extend .hover;
    @include tile;
    @include small-bold;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: $tile-bottom-margin;
}

.recipe-info {
    display: flex;
    gap: 25px;

    .coffee {
        @include flex(center, null, row);
    }

}

.brew-type-icon {
    width: 18px;
    background-repeat: no-repeat;
    background-position: center;
}

.bi-gear-fill {
    margin-left: auto;
}


