// Typography
$text-grey        : hsl(0, 0%, 30%);

// Tile
$tile-bg-clr      : hsl(0, 2%, 18%);
$tile-font-clr    : hsl(0, 0%, 100%);
$tile-grey        : hsl(0, 2%, 20%);
$custom-tile-grey : hsl(0, 1%, 70%);

// Custom colors :
$dark   : hsl(0, 0%, 12%);
$gold   : hsl(43, 100%, 51%);
$blue   : hsl(202, 84%, 57%);
$red    : hsl(0, 76%, 62%);
$orange : hsl(43, 88%, 59%);

// Icons :
$icons-clr : hsl(0, 2%, 18%);

// List element index
$index-clr : hsl(0, 0%, 42%);

