<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brew-Creator-End</title>
    <link rel="stylesheet" href="../../sass/main.css">
</head>
<body>

    <main class="flex-equal">
        <span class="icon">
            <i class="bi bi-sunrise"></i>
        </span>

        <div class="input">
            <label for="rname">Recipe name:</label>
            <input type="text" name="rname" id="rname" placeholder="insert name">
        </div>

        <div class="input">
            <label for="cname">Coffee name:</label>
            <input type="text" name="cname" id="cname" placeholder="any">
        </div>
    </main>

    <div class="bottom">
        <button class="btn-arrow">
            <i class="bi bi-arrow-right-short"></i>
        </button>
    </div>

</body>
</html>