@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.small-bold, .recipe, nav > * {
  font-size: 16px;
  font-weight: bold;
}

.medium-medium {
  font-size: 20px;
  font-weight: medium;
}

.medium-bold {
  font-size: 20px;
  font-weight: bold;
}

.normal-bold, .brewing-method, .view-info {
  font-size: 24px;
  font-weight: bold;
}

.small-bold, .recipe, nav > *,
.medium-medium,
.medium-bold,
.normal-bold,
.brewing-method,
.view-info {
  font-family: "Poppins", sans-serif;
}

.view {
  height: 100vh;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hover:hover, nav > :hover, .recipe:hover, .brewing-method:hover {
  cursor: pointer;
}

.tile, .recipe, .brewing-method {
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  width: 310px;
  height: 80px;
  color: #ffffff;
  background-color: #2e2c2c;
}

.list, .recipe-list, .brewing-methods-list {
  overflow: scroll;
}

.bi-plus-circle-fill {
  font-size: 50px;
  color: #2e2c2c;
  margin: 45px 0;
  margin-top: auto;
}
.bi-plus-circle-fill:hover {
  cursor: pointer;
}

.brewing-method {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.brewing-methods-list {
  margin-bottom: 70px;
}

.view-info {
  margin-bottom: 35px;
  width: 100%;
  text-align: center;
  color: hsl(202, 84%, 57%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.recipe-info {
  display: flex;
  gap: 25px;
}
.recipe-info .coffee {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.brew-type-icon {
  width: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.bi-gear-fill {
  margin-left: auto;
}

nav {
  width: 90%;
  margin: 40px 0 35px 0;
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 30%);
}/*# sourceMappingURL=main.css.map */