@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, .view, body {
  height: 100%;
}

.bottom {
  width: 100%;
  margin-bottom: 40px;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  overflow: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.hover:hover, .recipe:hover, .brewing-method:hover, nav > :hover {
  cursor: pointer;
}

.list, .brewing-methods-list {
  overflow: scroll;
}

.bi-plus-circle-fill {
  font-size: 50px;
  color: hsl(0, 2%, 18%);
}
.bi-plus-circle-fill:hover {
  cursor: pointer;
}

ol {
  counter-reset: index;
}
ol li {
  position: relative;
}

ol li::before {
  counter-increment: index;
  content: counter(index);
  position: absolute;
  left: -20px;
  color: hsl(0, 0%, 42%);
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

nav {
  width: 90%;
  margin: 40px 0 35px 0;
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 30%);
}

nav > * {
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.view {
  width: 100%;
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brewing-method {
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  width: 310px;
  height: 80px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 2%, 18%);
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.view-info {
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 35px;
  width: 100%;
  text-align: center;
  color: hsl(202, 84%, 57%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.recipe {
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  width: 310px;
  height: 80px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 2%, 18%);
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.recipe-info {
  display: flex;
  gap: 25px;
}
.recipe-info .coffee {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.brew-type-icon {
  width: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.bi-gear-fill {
  margin-left: auto;
}

.step-list__step {
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  width: 310px;
  height: 80px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 2%, 18%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 20px;
}
.step-list__step .step-icon .bi {
  font-size: 40px;
}
.step-list__step .step-name {
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.step-list__step .step-info {
  line-height: 180%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.rel-top {
  position: relative;
  top: -30px;
}

.info {
  font-size: 12px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}
.info > * {
  line-height: 200%;
  text-align: center;
  color: hsl(202, 84%, 57%);
}/*# sourceMappingURL=main.css.map */