@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, .view, body {
  height: 100%;
}

.bottom {
  width: 100%;
  margin-bottom: 40px;
  margin-top: auto;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  overflow: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.hover:hover, .btn-arrow:hover, .picker > :hover, .btn-play:hover, .class-list__element:hover,
.class-list-custom:hover, .step-list__step:hover, .recipe:hover, .brewing-method:hover, nav > :hover {
  cursor: pointer;
}

.bi-plus-circle-fill {
  font-size: 50px;
  color: hsl(0, 2%, 18%);
}
.bi-plus-circle-fill:hover {
  cursor: pointer;
}

ol, ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ol {
  counter-reset: index;
}
ol li {
  position: relative;
}

ol li::before {
  counter-increment: index;
  content: counter(index);
  position: absolute;
  left: -20px;
  color: hsl(0, 0%, 42%);
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

nav {
  width: 90%;
  margin: 40px 0 35px 0;
  display: flex;
  justify-content: space-between;
  color: hsl(0, 0%, 30%);
}

nav > * {
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.view {
  width: 100%;
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brewing-method {
  max-width: 310px;
  width: 100%;
  height: 80px;
  box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 2%, 18%);
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.view-info {
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 35px;
  width: 100%;
  text-align: center;
  color: hsl(202, 84%, 57%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.recipe {
  max-width: 310px;
  width: 100%;
  height: 80px;
  box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 2%, 18%);
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.recipe-info {
  display: flex;
  gap: 25px;
}
.recipe-info .coffee {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.brew-type-icon {
  width: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.bi-gear-fill {
  margin-left: auto;
}

.step-list__step {
  max-width: 310px;
  width: 100%;
  height: 80px;
  box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 2%, 18%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 20px;
}
.step-list__step .step-icon .bi {
  font-size: 40px;
}
.step-list__step .step-name {
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.step-list__step .step-info {
  line-height: 180%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.rel-top {
  position: relative;
  top: -30px;
}

.class-list__element,
.class-list-custom {
  max-width: 310px;
  width: 100%;
  height: 80px;
  box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 2%, 18%);
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.class-list__element {
  position: relative;
}
.class-list__element .class-icon {
  position: absolute;
  left: 20px;
}
.class-list__element .class-icon .bi {
  font-size: 40px;
}

.class-list-custom {
  background-color: hsl(0, 1%, 70%);
  color: white;
}

.btn-play {
  width: 60px;
  background-color: hsl(0, 2%, 18%);
  border-radius: 100%;
}
.btn-play .bi-play {
  position: relative;
  color: white;
  font-size: 50px;
}
.btn-play .bi-play::before {
  position: relative;
  right: -2px;
}

.flex-equal {
  height: 100%;
  margin-top: 100px;
}
.flex-equal > * {
  margin-bottom: 30px;
}

.icon-header {
  display: flex;
  justify-content: center;
}
.icon-header .bi {
  font-size: 100px;
}

.input label {
  display: block;
  width: 100%;
  color: hsl(202, 84%, 57%);
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin-bottom: 15px;
}
.input input {
  all: unset;
  width: 100%;
  max-width: 310px;
  width: 100%;
  height: 80px;
  box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: -1px 9px 9px -6px rgba(0, 0, 0, 0.29);
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 2%, 18%);
  font-size: 20px;
  font-weight: medium;
  font-family: "Poppins", sans-serif;
  text-align: center;
  height: 80px;
}

.picker, .description-input {
  max-width: 310px;
  width: 100%;
  margin-bottom: 30px;
}

.picker {
  height: 65px;
  display: flex;
}
.picker .add, .picker .sub {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #D2D1D1;
  color: hsl(0, 2%, 18%);
  font-size: 30px;
}
.picker .time, .picker .weight {
  flex-grow: 2;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  background-color: #868484;
  color: white;
}

.description-input {
  height: 90px;
  padding: 10px;
  font-size: 12px;
  font-weight: medium;
  font-family: "Poppins", sans-serif;
  background-color: #868484;
  color: white;
  border: none;
}
.description-input::-moz-placeholder {
  color: #e6e6e6;
}
.description-input::placeholder {
  color: #e6e6e6;
}
.description-input::-webkit-input-placeholder {
  color: #e6e6e6;
}
.description-input:-moz-placeholder {
  color: #e6e6e6;
}
.description-input::-ms-placeholder {
  color: #e6e6e6;
}

.custom-tile {
  background-color: hsl(0, 1%, 70%);
}

.title-input,
.icon-input,
.options-input {
  max-width: 310px;
  width: 100%;
  background-color: #868484;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.options-input {
  font-size: 12px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  padding: 15px;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-input {
  height: 60px;
  border: none;
  text-align: center;
}

.icon-input {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.icon-input .icon {
  height: 100%;
  font-size: 35px;
  margin-right: 10px;
}
.icon-input .icon--selected {
  color: hsl(43, 100%, 51%);
}
.icon-input .icon:hover {
  color: hsl(202, 84%, 57%);
  cursor: pointer;
}
.icon-input .list {
  max-width: 310px;
  display: inline-block;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.info {
  font-size: 12px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}
.info > * {
  line-height: 200%;
  text-align: center;
  color: hsl(202, 84%, 57%);
}

.btn-arrow {
  width: 100%;
  max-width: 270px;
  height: 70px;
  border-radius: 1.3rem;
  background-color: hsl(0, 2%, 18%);
}
.btn-arrow .bi {
  color: white;
  font-size: 40px;
}/*# sourceMappingURL=main.css.map */