@use "../variables/" as *;
@use "../modules/hover" as *;

.btn-arrow {
    @extend .hover;
    width: 100%;
    max-width: 270px;
    height: 70px;
    border-radius: 1.3rem;

    background-color: $icons-clr;

    .bi {
        color: white;
        font-size: 40px;
    }
}