<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewCreator1</title>
</head>
<body>

    <nav>
        <button id="cancel">Cancel</button>
        <button id="finish">Finish</button>
    </nav>

    <div class="info">
        <span class="info-time">Time : 40s</span>
        <span class="info-weight">Weight : 120g</span>
    </div>

    <ul class="step-list">

        <li class="step">
            <div class="step-icon">

            </div>
            <div class="step-name">

            </div>
            <div class="step-info">
                <span class="step-info-time"></span>
                <span class="step-info-weight"></span>
            </div>
        </li>

    </ul>


</body>
</html>