<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrewCreator1</title>
    <link rel="stylesheet" href="../../sass/main.css">
</head>
<body>
    <div class="view">
        <nav>
            <button id="cancel">Cancel</button>
            <button id="finish">Finish</button>
        </nav>

        <div class="info rel-top">
            <span class="info__time">Time : <span class="time">40</span>s</span>
            <span class="info__weight">Weight : <span class="weight">120</span>g</span>
        </div>

        <main>
            <!-- Step list -->
            <ol class="step-list">

                <!-- Step -->
                <li class="step-list__step">
                    <div class="step-icon">
                        <i class="bi bi-chevron-double-down"></i>
                    </div>
                    <div class="step-name">
                        Press
                    </div>
                    <div class="step-info">
                        <span class="step-info-time">0:30</span>
                        <span class="step-info-weight">50g</span>
                    </div>

                </li>

                <!-- Step -->
                <li class="step-list__step">

                    <div class="step-icon">
                        <i class="bi bi-chevron-double-down"></i>
                    </div>

                    <div class="step-name">
                        Press
                    </div>

                    <div class="step-info">
                        <span class="step-info-time">1:30</span>
                        <span class="step-info-weight">50g</span>
                    </div>

                </li>

                <!-- Step -->
                <li class="step-list__step">

                    <div class="step-icon">
                        <i class="bi bi-chevron-double-down"></i>
                    </div>

                    <div class="step-name">
                        Press
                    </div>

                    <div class="step-info">
                        <span class="step-info-time">0:30</span>
                    </div>

                </li>

                <!-- Step -->
                <li class="step-list__step">

                    <div class="step-icon">
                        <i class="bi bi-chevron-double-down"></i>
                    </div>

                    <div class="step-name">
                        Press
                    </div>

                    <div class="step-info">
                        <span class="step-info-time">0:30</span>
                    </div>

                </li>

                <!-- Step -->
                <li class="step-list__step">

                    <div class="step-icon">
                        <i class="bi bi-chevron-double-down"></i>
                    </div>

                    <div class="step-name">
                        Press
                    </div>

                    <div class="step-info">
                        <span class="step-info-time">0:30</span>
                    </div>

                </li>

                <!-- Step -->
                <li class="step-list__step">

                    <div class="step-icon">
                        <i class="bi bi-chevron-double-down"></i>
                    </div>

                    <div class="step-name">
                        Press
                    </div>

                    <div class="step-info">
                        <span class="step-info-time">0:30</span>
                    </div>

                </li>

            </ol>
        </main>

        <div class="bottom">
            <button>
                <i class="bi bi-plus-circle-fill"></i>
            </button>
        </div>
    </div>
</body>
</html>