@use "../variables/" as *;
@use "../base/" as *;

ol,ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol {
    counter-reset: index;

    li {
        position: relative;
    }
}

ol li::before {
    counter-increment: index;
    content: counter(index);

    position: absolute;
    left: -20px;

    color: $index-clr;
    @include small-bold;
}