@use "../0-abstract/" as *;

ol {
    counter-reset: index;

    li {
        position: relative;
    }
}

ol li::before {
    counter-increment: index;
    content: counter(index);

    position: absolute;
    left: -20px;

    color: $clr-recipe-index;
    font-size: $font-size-small;
    font-weight: $font-weight-bold;
}