@use "../0-abstract/" as *;

// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

h1 {
    font-weight: $font-weight-bold;
}

h2 {
    color: $clr-blue;
    font-size: $font-size-medium;
    font-weight: $font-weight-semi-bold;
}

h1,h2,h3,h4 {
    @include elipsis;
}

label {
    color: $clr-blue;
    font-weight: $font-weight-bold;
    font-size: $font-size-big;
    text-align: center;
}