<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brew Picker</title>
    <link rel="stylesheet" href="../../sass/main.css">
</head>
<body>
    <nav>
        <button id="cancel">
            Cancel
        </button>
    </nav>
    <main>
        <ul class="class-list">
            <li class="class-list__element" data-class="press">
                <div class="class-icon">
                    <i class="bi bi-chevron-double-down"></i>
                </div>
                <div class="class-name">
                    Press
                </div>
            </li>
            <li class="class-list__element" data-class="water">
                <div class="class-icon">
                    <i class="bi bi-droplet"></i>
                </div>
                <div class="class-name">
                    Water
                </div>
            </li>
            <li class="class-list-custom">
                custom
            </li>
        </ul>
    </main>
</body>
</html>